[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Blender
GenericName=Blender
Exec=/home/user/bin/blender-virgl.sh
Terminal=false
Icon=blender
Type=Application
Categories=Application;Graphics;
Comment=3D modeling tool
StartupNotify=false
